@using GameStore.Payments.Enums
@model GameStore.ViewModels.OrderViewModel

@{
    ViewBag.Title = "BasketInfo";
}

<h2>BasketInfo</h2>

<div>
    <h4>OrderViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
    </dl>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.OrderDetails.First().Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderDetails.First().GameId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderDetails.First().Quantity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderDetails.First().Discount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderDetails.First().Price)
                </th>
            </tr>

            @foreach (var item in Model.OrderDetails)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GameId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Discount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                </tr>
            }
                <td>
                    <div>

                        <span class="glyphicons glyphicons-bank">  </span>

                        @Html.ActionLink("Bank", "Pay", new { payment = PaymentTypes.Bank}) |

                        <span class="glyphicons glyphicons-inbox-in">  </span>

                        @Html.ActionLink("IBox", "Pay", new { payment = PaymentTypes.Box}) |

                        <span class="glyphicons glyphicons-credit-card"> </span>

                        @Html.ActionLink("Pay", "Pay", new { payment = PaymentTypes.Visa})

                    </div>
                </td>
        </table>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
