@using GameStore.Web.App_LocalResources
@model GameStore.Web.Payments.ViewModels.BoxViewModel

@{
    ViewBag.Title = "IBox";
}
<h2>IBox</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cost)
        </dd>

    </dl>
    @Html.ActionLink(GlobalRes.Pay, "Box", new {controller="Order", orderId = Model.OrderId }, new { @class = "btn btn-default" })


</div>

