@using GameStore.App_LocalResources
@model IEnumerable<GameStore.ViewModels.GameViewModel>

@{
    ViewBag.Title = "GetAllGames";
}
<p>
    @Html.ActionLink(GlobalRes.Create, "New","Game")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Key)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitsInStock)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Discountinues)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Publisher.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Key)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnitsInStock)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Discountinues)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Publisher.Name)
        </td>
        <td>
            @Html.ActionLink(GlobalRes.Details, "GetGame", new { gamekey = item.Key })
            @Html.ActionLink(GlobalRes.Update, "Update", new { gamekey = item.Key })
            @Html.ActionLink(GlobalRes.Remove, "Remove", new { gameId = item.Id })
        </td>
    </tr>
}
</table>
