@using GameStore.App_LocalResources
@model GameStore.ViewModels.BasketViewModel

@{
    ViewBag.Title = "AddGameToOrder";
}

<h2>@GlobalRes.AddGameToOrder</h2>
@using (Html.BeginForm())
{
    @Html.HiddenFor(x => x.GameId)
    @Html.HiddenFor(x => x.UserId)
    <input type="number" id="Quantity" name="Quantity" min="1" value="1" max="@Model.UnitsInStock" />
    @Html.ValidationMessageFor(model => model.Quantity, "")
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value=@GlobalRes.Add class="btn btn-default" />
        </div>
    </div>
}
