@using GameStore.Payments.Enums
@model GameStore.ViewModels.OrderViewModel

@{
    ViewBag.Title = "BasketInfo";
}
<div>
    <hr />
    <dl class="dl-horizontal">
            @Html.HiddenFor(model => model.UserId)

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
    </dl>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.OrderDetails.First().Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderDetails.First().Game.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderDetails.First().Quantity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderDetails.First().Discount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderDetails.First().Price)
                </th>
            </tr>

            @foreach (var item in Model.OrderDetails)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Game.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Discount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                </tr>
            }
                <tr>
                    <td>
                        <div>
                            <a href='@Url.Action("Pay","Order", new { paymentType = PaymentTypes.Bank },null)' %>
                                <img src="~/Content/Images/Bank.png" alt="QQQQQ" height="80px" />
                            </a>
                            <a href='@Url.Action("Pay","Order", new { paymentType = PaymentTypes.Box })' %>
                                <img src="~/Content/Images/IBox.png" alt="QQQQQ" height="80px" />
                            </a>
                            <a href='@Url.Action("Pay","Order", new { paymentType = PaymentTypes.Visa })' %>
                                <img src="~/Content/Images/Visa.png" alt="QQQQQ" height="80px" />
                            </a>
                        </div>
                    </td>
                </tr>
        </table>
</div>