@using GameStore.Web.App_LocalResources
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
</head>
<body>
    
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                @Html.ActionLink(GlobalRes.Games, "FilteredGames", "Game", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li style="color: aliceblue">@Html.Action("CountGames", "Game") </li>

                    <li> @Html.ActionLink(GlobalRes.Basket, "BasketInfo", "Order")</li>
                    <li style="color: aliceblue">@Html.Action("CountGamesInOrder", "Order") </li>
                    <li> @Html.ActionLink(GlobalRes.Publishers, "GetAll", "Publisher")</li>
                    <li> @Html.ActionLink(GlobalRes.PlatformTypes, "GetAll", "PlatformType")</li>
                    <li> @Html.ActionLink(GlobalRes.Genres, "GetAll", "Genre")</li>
                    <li> @Html.ActionLink(GlobalRes.Orders, "FilterOrders", "Order")</li>
                    <li> @Html.ActionLink(GlobalRes.Shipper, "GetAll", "Shipper")</li>

                @if (User != null && User.IsInRole("Admin"))
                {
                    <li> @Html.ActionLink(GlobalRes.Users, "GetAll", "User")</li>
                    <li> @Html.ActionLink(GlobalRes.Roles, "GetAll", "Role")</li>
                }

                </ul>
                
               <ul class="nav navbar-nav navbar-right">
                   <li>@Html.ActionLink("ru", ViewContext.RouteData.Values["action"].ToString(), ViewContext.RouteData.Values["lang"] = "ru"))</li>
                   <li> @Html.ActionLink( "en",  ViewContext.RouteData.Values["action"].ToString(), ViewContext.RouteData.Values["lang"] = "en"))</li>
                   
                   <li> @Html.ActionLink(GlobalRes.Login, "Login", "Account")</li>
                   <li> @Html.ActionLink(GlobalRes.Register, "Register", "Account")</li>
               </ul>

            </div>
        </div>
    </div>
    <br/>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer></footer>
        <script src="~/Scripts/gameStorejs.js"></script>
    </div>
</body>
</html>
