@using System.Web.Optimization
@using GameStore.Web.App_LocalResources
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
</head>
<body>
    <header>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10 col-sm-12 col-xs-12">
                <div class="navbar navbar-default" role="navigation">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        @Html.ActionLink(GlobalRes.Games, "FilteredGames", "Game", new { area = "" }, new { @class = "navbar-brand" })
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li style="color: #A9A19E">@Html.Action("CountGames", "Game") </li>
                            <li> @Html.ActionLink(GlobalRes.Basket, "BasketInfo", "Order")</li>
                            <li style="color: #A9A19E">@Html.Action("CountGamesInOrder", "Order") </li>
                            @if (User != null && User.IsInRole("Manager"))
                            {
                                <li> @Html.ActionLink(GlobalRes.Publishers, "GetAll", "Publisher")</li>
                                <li> @Html.ActionLink(GlobalRes.PlatformTypes, "GetAll", "PlatformType")</li>
                                <li> @Html.ActionLink(GlobalRes.Genres, "GetAll", "Genre")</li>
                                <li> @Html.ActionLink(GlobalRes.GetAllDeleteGames, "GetAllDeleteGames", "Game")</li>
                                <li> @Html.ActionLink(GlobalRes.Orders, "AllOrders", "Order")</li>
                            }
                            <li> @Html.ActionLink(GlobalRes.Shipper, "GetAll", "Shipper")</li>
                            @if (User != null && User.IsInRole("Administrator"))
                            {
                                <li> @Html.ActionLink(GlobalRes.Users, "GetAll", "User")</li>
                                <li> @Html.ActionLink(GlobalRes.Roles, "GetAll", "Role")</li>
                            }
                        </ul>

                        <ul class="nav navbar-nav navbar-right">
                            @if (User != null && User.Identity.IsAuthenticated)
                            {
                                <li>@Html.ActionLink(GlobalRes.PersonalArea, "PersonalArea", "Account")</li>
                                <li>@Html.ActionLink(GlobalRes.LogOut, "LogOut", "Account")</li>
                            }
                            else
                            {
                                <li>@Html.ActionLink(GlobalRes.Register, "Register", "Account")</li>
                                <li> @Html.ActionLink(GlobalRes.Login, "Login", "Account")</li>
                            }
                        </ul>
                    </div>
                </div>
                <div class="navbar" role="navigation">
                    <div class="navbar-collapse collapse">
                        <div class="nav navbar-nav navbar-right">
                            @Html.ActionLink("ru", ViewContext.RouteData.Values["action"].ToString(), ViewContext.RouteData.Values["lang"] = "ru", new { @class = "btn btn-default" })
                            @Html.ActionLink("en", ViewContext.RouteData.Values["action"].ToString(), ViewContext.RouteData.Values["lang"] = "en", new { @class = "btn btn-default" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div style="position: relative">
                <div class="col-md-1"></div>
                <div style="position: absolute; top: -85px; left: 12%; ">
                    <p style="color: dimgrey; font-family: Trattatello; font-size: 30px;">
                        GAME
                        <br />STORE
                    </p>
                </div>
                <div class="col-md-10 col-sm-12 col-xs-12">
                    <div style="position: absolute; top: -25px; width:92%">
                        <div style="display: flex; justify-content: flex-end; flex-direction: row;" class="list-group">
                            <a href="https://www.instagram.com" target="_blank" class="Mylist-group-item" style="border-radius: 15px 0 0 15px"><img src="~/Content/Images/insta.png" height="30px" alt="Instagram" />Instagram</a>
                            <a href="https://twitter.com" target="_blank" class="Mylist-group-item"><img src="~/Content/Images/tweet.png" height="30px" alt="Twitter" />Twitter</a>
                            <a href="https://www.facebook.com/" target="_blank" class="Mylist-group-item" style="border-radius: 0 15px 15px 0"><img src="~/Content/Images/icon-facebook-light.png" height="30px" alt="Twitter" />Facebook</a>
                        </div>
                    </div>

                    <div style="background-color: #222; height: 200px; border-radius: 10px; width: 100%;">
                        <div class="col-md-2 hidden-sm hidden-xs"></div>
                        <div style="float: left;" class="col-md-5 col-sm-6 col-xs-6">
                            <p style="color: aliceblue; font-family: Trattatello; font-size: 70px;" ;>Pay attention</p>
                        </div>
                        <div class="displayHead  col-md-4 col-sm-4 col-xs-4" style="float: left;">
                            <img src="~/Content/Images/tik-logo-uzrasas-1.png" alt="Games"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <br />
    <div class="container body-content">
        <div class="row">
            <div class="col-sm-9">
                @RenderBody()
            </div>
            <div class="col-sm-3">
                @if (IsSectionDefined("rightSidebar"))
                {
                    @RenderSection("rightSidebar")
                }
                else
                {
                    <img src="~/Content/Images/games.jpg" alt="Games" height="200px" />
                }
            </div>
        </div>
        <hr />

        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <div class="FooterHeader">
                            <img src="~/Content/Images/konvert.png" alt="GetInTouch" height="50px" /> <h6 class="footer-heading">@GlobalRes.GetInTouch</h6>
                        </div>
                        <form style="background: #E1F5A9; height: 300px">
                            <div class="form-group ForForm80MarginRightLeft">
                                <label for="exampleInputName1">@GlobalRes.UserName</label>
                                <input type="text" class="form-control" id="exampleInputName1" aria-describedby="emailHelp">
                            </div>
                            <div class="form-group ForForm80MarginRightLeft">
                                <label for="exampleInputEmail1">Email</label>
                                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                            </div>
                            <div class="form-group ForForm80MarginRightLeft">
                                <label for="exampleFormControlTextarea1">@GlobalRes.Body</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                            </div>
                            <button style="display: block; margin-left: 55%;" type="submit" class="btn btn-default ">@GlobalRes.Submit</button>
                        </form>
                    </div>

                    <div class="col-md-4 col-sm-4">
                        <div class="FooterHeader">
                            <img src="~/Content/Images/tweet.png" alt="GetInTouch" height="50px" />  <h6 class="footer-heading"> Twitter @GlobalRes.updates </h6>
                        </div>
                        <div style="background: #CEF6F5; height: 300px">
                            <div class="form-group ForForm8024">
                                <br />
                                <p align="justify">
                                    text text text text text text text text text text text text
                                    <a href="#"> http//text/text</a>
                                </p>
                                <hr class="footerHr" />
                            </div>
                            <div class="form-group ForForm8024">
                                <br />
                                <p align="justify">
                                    text text text text text text text text text text text text
                                    <a href="#"> http//text/text</a>
                                </p>
                                <hr class="footerHr" />
                            </div>
                            <div class="form-group ForForm8024">
                                <br />
                                <p align="justify">
                                    text text text text text text text text text text text text
                                    <a href="#"> http//text/text</a>
                                </p>
                                <hr class="footerHr" />
                            </div>
                            <button style="display: block; margin-left: 45%;" type="submit" class="btn btn-default ">@GlobalRes.FollowUs</button>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-4">
                        <div class="FooterHeader">
                            <img src="~/Content/Images/BLOG-Logo-1.png" alt="FromBlog" height="50px" />  <h6 class="footer-heading"> @GlobalRes.FromBlog </h6>
                        </div>
                        <div style="background: #F2F5A9; height: 300px">
                            <div class="form-group ForForm8024">
                                <br />
                                <p align="justify">
                                    text text text text text text text text text text text text
                                </p>
                                <hr class="footerHr" />
                            </div>
                            <div class="form-group ForForm8024">
                                <br />
                                <p align="justify">
                                    text text text text text text text text text text text text
                                </p>
                                <hr class="footerHr" />
                            </div>
                            <div class="form-group ForForm8024">
                                <br />
                                <p align="justify">
                                    text text text text text text text text text text text text
                                </p>
                                <hr class="footerHr" />
                            </div>
                            <button style="display: block; margin-left: 55%;" type="submit" class="btn btn-default ">@GlobalRes.VisitBlog</button>
                        </div>
                    </div>
                </div>
                <br />
                <hr />
                <br />
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <p>
                            2018
                            <br />  <br />
                            text text text text text text text text text text text text text text text text text text text text text text text text
                        </p>
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <p>@GlobalRes.Links</p>
                        <a href="#"> text</a>
                        <br />
                        <a href="#"> text</a>
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <p>@GlobalRes.CompanyInformation</p>
                        <p>E-mail : info@info.com</p>
                    </div>
                </div>
            </div>
        </footer>
        <script src="~/Scripts/gameStorejs.js"></script>
    </div>
</body>
</html>
