@using GameStore.ViewModels
@model IEnumerable<CommentViewModel>

@{
    ViewBag.Title = "GetAllCommentToGame";
}

<h2>GetAllCommentToGame</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Body)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GameId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ParentCommentId)
        </th>
        <th></th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var comment in Model)
    {
        if (comment.ParentCommentId != null)
        {
            foreach (var parentsComment in Model)
            {
                if (comment.ParentCommentId == parentsComment.Id)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => parentsComment.Id)
                        </td>
                        <td></td>
                        <td>
                            @Html.DisplayFor(modelItem => parentsComment.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => parentsComment.Body)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => parentsComment.GameId)
                        </td>
                        <td></td>
                        <td> @Html.ActionLink("Quote1", "CommentToGame","Comment",new { gameId = comment.GameId, quote = comment.Body},null) </td>
                        <td> @Html.ActionLink("Answer2", "CommentToGame", "Comment", new { gameId = comment.GameId, parentsCommentId = comment.Id }, null) </td>
                        <td> @Html.ActionLink("Delete", "Index") </td>
                        <td> @Html.ActionLink("Ban", "Index") </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            @Html.DisplayFor(modelItem => comment.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => comment.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => comment.Body)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => comment.GameId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => comment.ParentCommentId)
                        </td>
                        <td> @Html.ActionLink("Quote", "Index") </td>
                        <td> @Html.ActionLink("Answer", "Index") </td>
                        <td> @Html.ActionLink("Delete", "Index") </td>
                        <td> @Html.ActionLink("Ban", "Index") </td>
                    </tr>
                }
            }
        }
        else
        {
            bool unick = true;
            foreach (var parentsComment in Model)
            {
                unick = true;
                if (comment.Id == parentsComment.ParentCommentId)
                {
                    unick = false;
                    break;
                }
            }
            if (unick)
            {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => comment.Id)
                        </td>
                        <td></td>
                        <td>
                            @Html.DisplayFor(modelItem => comment.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => comment.Body)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => comment.GameId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => comment.ParentCommentId)
                        </td>
                        <td> @Html.ActionLink("Quote", "Index") </td>
                        <td> @Html.ActionLink("Answer", "Index") </td>
                        <td> @Html.ActionLink("Delete", "Index") </td>
                        <td> @Html.ActionLink("Ban", "Index") </td>
                    </tr>
            }
        }
    }
</table>
@{Html.RenderPartial("CommentToGame", new CommentViewModel());}
