@model IEnumerable<GameStore.ViewModels.CommentViewModel>

@foreach (var comment in Model.Where(parentComment => parentComment.ParentCommentId == null))
{
    @CommentView(comment, string.Empty)
    @RenderMenuItem(comment)
}

@helper RenderMenuItem(GameStore.ViewModels.CommentViewModel parentComment)
{
    foreach (var childComment in Model)
    {
        <ul style=" list-style-type: none;">
            @if (parentComment.Id == childComment.ParentCommentId)
            {
                <li>
                    @CommentView(childComment, parentComment.Name.ToString())
                </li>
                @RenderMenuItem(childComment)
            }
        </ul>
    }
}

@helper CommentView(GameStore.ViewModels.CommentViewModel comment, string answerTo)
{
    <table>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => comment.Name)
            </td>
        </tr>
        <tr>
            @if (comment.Quote != null)
            {
                <td style="font-family: 'Times New Roman', Times, serif; font-style: italic;">"@Html.DisplayFor(modelItem => comment.Quote)"</td>
            }
            <td>
                @if (answerTo != string.Empty)
                {
                    <a>@answerTo,</a>
                }
                 @Html.DisplayFor(modelItem => comment.Body)
            </td>
        </tr>
        <tr>
            <td>
                @Ajax.ActionLink("Quote", "CommentToGameWithQuote", "Comment", new { gameId = comment.GameId, quote = comment.Body }, new AjaxOptions { UpdateTargetId = "commentForm" })
                @Ajax.ActionLink("Answer", "CommentToGameForParent", "Comment", new { gameId = comment.GameId, parentsCommentId = comment.Id }, new AjaxOptions { UpdateTargetId = "commentForm" })
                @Ajax.ActionLink("Delete", "Delete", "Comment", new { commentId = comment.Id }, new AjaxOptions { UpdateTargetId = comment.Id.ToString() })
                @Ajax.ActionLink("Ban", "Ban", "Comment", new { commentId = comment.Id }, new AjaxOptions { UpdateTargetId = comment.Id.ToString() })
            </td>
        </tr>
        <tr>
            <td colspan="5" id="@comment.Id.ToString()"></td>
        </tr>
    </table>
}

<div id="commentForm">
    @{if (ViewBag.gameId != null)
        {
             @Html.Action("CommentToGame", new { gameId = ViewBag.gameId })
        }
         else
        {
              @Html.Action("CommentToGame", new { gameId = Model.First().GameId })
        }
    }
</div>
