@model GameStore.ViewModels.GenreViewModel

@{
    ViewBag.Title = "Get";
}

<h2>Get</h2>

<div>
    <h4>GenreViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ParentGenreId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParentGenreId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParentGenreName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParentGenreName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>

