@using GameStore.Web.App_LocalResources
@model GameStore.Web.ViewModels.BasketViewModel

@{
    ViewBag.Title = "AddGameToOrder";
}

<h2>@GlobalRes.Game "@Model.GameName" @GlobalRes.addSucces </h2>
<h4>@GlobalRes.Price @Model.Price</h4>
