@using GameStore.Web.App_LocalResources
@model GameStore.Web.ViewModels.OrderViewModel

@{
    ViewBag.Title = "BasketInfo";
}

<div>
    <hr />
    <dl class="dl-horizontal">
        @Html.HiddenFor(model => model.UserId)
    </dl>

    @using (Html.BeginForm("UpdateShipper", "Order", FormMethod.Get, null))
    {
        @Html.HiddenFor(model => model.Id)
        <div class="form-group">
            @Html.LabelFor(model => model.ShipperId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.ShipperId, Model.ShipperList as SelectList, "", new { @class = "form-control", onchange = "this.form.submit();" })
            </div>
        </div>

    }

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetails.First().Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetails.First().Game.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetails.First().Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetails.First().Discount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetails.First().Price)
            </th>
            <th>
            </th>
        </tr>

        @foreach (var item in Model.OrderDetails)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Game.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Discount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.ActionLink(GlobalRes.Remove, "DeleteGameFromOrder", new { gameId = item.GameId })
                </td>
            </tr>
        }

    </table>
    @if (Model.ShipperId != null)
    {
        @Html.ActionLink(GlobalRes.MakeOrder, "Order", "Order", null, new { @class = "btn btn-primary btn-large" })
    }

</div>
