@model GameStore.ViewModels.FilterOrder

<div>
    <h4>FilterOrder</h4>
    <hr />
@using (Html.BeginForm("FilterOrders", "Order", FormMethod.Get, null))
{
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DateTimeFrom)
        </dt>

        <dd>
            @Html.TextBoxFor(model => model.DateTimeFrom,new {@type = "date"})
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateTimeTo)
        </dt>

        <dd>
            @Html.TextBoxFor(model => model.DateTimeTo,new {@type = "date"})
        </dd>
    </dl>
    <input type="submit" value="Filter" class="btn btn-default"/>
} 
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrdersViewModel.First().UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrdersViewModel.First().Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrdersViewModel.First().Cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrdersViewModel.First().Freight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrdersViewModel.First().ShipAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrdersViewModel.First().ShipCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrdersViewModel.First().ShipCountry)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrdersViewModel.First().ShipName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrdersViewModel.First().ShipPostalCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrdersViewModel.First().ShipRegion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrdersViewModel.First().ShipVia)
            </th>
        </tr>

    @foreach (var item in Model.OrdersViewModel) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Freight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShipAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShipCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShipCountry)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShipName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShipPostalCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShipRegion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShipVia)
            </td>
        </tr>
    }
        </table>
</div>

